.main {
  background: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}
